.infobox .no-wikidata {
    display: block !important;
    background: #fdc;
    padding: 5px 0;
}

.infobox .no-wikidata.partial-wikidata {
    background: #eeb;
}

.infobox .no-wikidata .no-wikidata {
    margin: -5px 0;
}

.wikidata-infobox-export-dialog .wb-monolingualtext-value {
    font-weight: bold;
}

.wikidata-infobox-export-dialog .wb-monolingualtext-language-name {
    float: left;
    margin-right: .25em;
    color: #54595d;
    font-weight: normal;
}

.wikidata-infobox-export-calendar {
    margin-left: .25em;
    color: #54595d;
}

.wikidata-infobox-export-calendar::before {
    display: inline-block;
    content: '(';
}

.wikidata-infobox-export-calendar::after {
    display: inline-block;
    content: ')';
}

.wikidata-infobox-export-statement .wikidata-infobox-export-main-label {
    font-weight: bold;
}

.wikidata-infobox-export-qualifier {
    margin-left: 2em;
}

.wikidata-infobox-export-all {
    float: right;
    margin-right: 0.3em;
    margin-top: 1px;
    line-height: 14px;
    cursor: pointer;
}
