.infobox .no-wikidata {
    display: block !important;
    background: #fdc;
    padding: 5px 0;
}

.infobox .no-wikidata.partial-wikidata {
    background: #eeb;
}

.infobox .no-wikidata .no-wikidata {
    margin: -5px 0;
}

.wikidata-infobox-export-dialog .wb-monolingualtext-value {
    font-weight: bold;
}

.wikidata-infobox-export-dialog .wb-monolingualtext-language-name {
    float: left;
    margin-right: .25em;
    color: #54595d;
    font-weight: normal;
}

.wikidata-infobox-export-calendar {
    margin-left: .25em;
    color: #54595d;
}

.wikidata-infobox-export-calendar::before {
    display: inline-block;
    content: '(';
}

.wikidata-infobox-export-calendar::after {
    display: inline-block;
    content: ')';
}

.wikidata-infobox-export-statement .wikidata-infobox-export-main-label {
    font-weight: bold;
}

.wikidata-infobox-export-statement .wikidata-infobox-export-main-label .commons-media-caption,
.wikidata-infobox-export-statement .wikidata-infobox-export-main-label .wb-unit,
.wikidata-infobox-export-statement .wikidata-infobox-export-main-label .wikidata-infobox-export-sup {
    font-weight: normal;
}

.wikidata-infobox-export-sup {
    margin-left: .1em;
}

.wikidata-infobox-export-qualifiers {
    margin-left: 0;
    list-style: none;
}

.wikidata-infobox-export-dialog .commons-media-caption,
.wikidata-infobox-export-qualifiers .wb-monolingualtext-language-name,
.wikidata-infobox-export-qualifiers .wikidata-infobox-export-calendar {
    display: none;
}

.wikidata-infobox-export-all {
    float: right;
    margin-right: 0.3em;
    margin-top: 1px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    background-image: url( '//upload.wikimedia.org/wikipedia/commons/6/6b/OOjs_UI_icon_upload.svg' );
    background-size: cover;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.wikidata-infobox-export-all.loader {
    margin-top: 2px;
    background-image: url( '//upload.wikimedia.org/wikipedia/commons/1/17/OOjs_UI_icon_reload.svg' );
    cursor: default;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
