.infobox-export:not(.vertical-navbox, .ve-ce-leafNode):not([data-from]) .no-wikidata {
    display: block !important;
    background-color: #fee7e6;
    border: 1px solid #f6bab9;
    border-radius: 2px;
    padding: 3px 6px;
}

.infobox-export:not(.vertical-navbox, .ve-ce-leafNode):not([data-from]) .no-wikidata.partial-wikidata {
    background-color: #fef6e7;
    border-color: #ffd760;
}

.infobox-export:not(.vertical-navbox, .ve-ce-leafNode):not([data-from]) .no-wikidata .no-wikidata {
    margin: -3px -6px;
    border: 0;
    background: transparent;
}

.infobox-export-dialog .wb-monolingualtext-value {
    font-weight: bold;
}

.infobox-export-dialog .wb-monolingualtext-language-name {
    color: #54595d;
    font-weight: normal;
}

.infobox-export-calendar {
    margin-left: .25em;
    color: #54595d;
}

.infobox-export-calendar::before {
    display: inline-block;
    content: '(';
}

.infobox-export-calendar::after {
    display: inline-block;
    content: ')';
}

.infobox-export-statement .infobox-export-main-label {
    font-weight: bold;
}

.infobox-export-statement .infobox-export-main-label .commons-media-caption,
.infobox-export-statement .infobox-export-main-label .wb-unit,
.infobox-export-statement .infobox-export-main-label .infobox-export-sup {
    font-weight: normal;
}

.infobox-export-sup {
    margin-left: .1em;
}

.infobox-export-qualifiers {
    margin-left: 0;
    list-style: disc;
}

.infobox-export-dialog .commons-media-caption,
.infobox-export-qualifiers .wb-monolingualtext-language-name,
.infobox-export-qualifiers .infobox-export-calendar {
    display: none;
}

@keyframes infobox-export-spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.infobox-export-novalue,
.infobox-export-somevalue {
    font-style: italic;
    color: #54595d;
}

.infobox-export-external-link {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url( 'https://www.wikidata.org/w/skins/Vector/resources/common/images/external-link-ltr-icon.svg' );
    background-size: cover;
    vertical-align: text-top;
    margin-left: .1em;
}

.infobox-export-deprecated {}
.infobox-export-deprecated::before {
    display: block;
    float: left;
    margin-right: .35em;
    content: " ";
    width: 8px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg fill='none' height='20' viewBox='0 0 8 20' width='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 14v2.2l3.1 3.8h1.8l3.1-3.8v-2.2z' fill='%23d33'/%3E%3Cpath d='m.5 10.75v-1.5l2-1.75h3l2 1.75v1.5l-2 1.75h-3zm0-6.75v1.5h7v-1.5l-2.875-3.5h-1.25z' stroke='%23d33'/%3E%3C/svg%3E");
}

@keyframes infobox-export-loader {
    from {
        background-position-x: -22px;
    }
    to {
        background-position-x: 0;
    }
}

.infobox-export-loader {
    background-size: 200% 100%;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 8px, #fafbfb 8px, #fafbfb 16px );
    animation: infobox-export-loader 1s linear infinite;
}

.partial-wikidata.infobox-export-loader {
    background-image: repeating-linear-gradient(135deg, transparent, transparent 8px, #fff 8px, #fff 16px );
}
